@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');

:root{

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html {
    background-image: url(https://images.pexels.com/photos/440731/pexels-photo-440731.jpeg?cs=srgb&dl=pexels-%C3%A1kos-szab%C3%B3-440731.jpg&fm=jpg);
    background-size: cover;
}

body {
    background-color: rgba(240, 248, 255, 0.464);
    width: 80%;
    margin: 0 auto;
    border: 20px rgb(168, 42, 42) double;
    box-shadow: -1px -1px 55px 22px rgba(163, 32, 144, 0.99);
    -webkit-box-shadow: -1px -1px 55px 22px rgba(163, 32, 144, 0.99);
    -moz-box-shadow: -1px -1px 55px 22px rgba(163, 32, 144, 0.99);
}

.img{
    background-color: khaki;
    border-radius: 100px;
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


nav ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

nav ul li a:hover{
    background-color: rgb(250, 238, 126);
    color: coral;
}

nav ul li{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 0 20px;
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    height: 80px;
    background-color: khaki;
    border-radius: 100px;
    margin: 20px;
}


header h1{
    background-color: coral;
    border-radius: 5px;
    height: 80px;
}

header h2{
    background-color: chocolate;
    height: 40px;
    margin-bottom: 10px;
}

section{
    padding: 10px 20px;
}

section:hover{
    background-color: #e6e6e6;
}

section img{
    width: 30%;
}

section h3{
    margin-bottom: 5px;
    padding: 5px;
    background-color: tomato;
    width: 20%;
}

section p{
    margin-bottom: 10px;
    text-align: justify;
}

section a{
    background-color: rgb(211, 55, 55);
    color: white;
    text-decoration: none;
    display: flex;
    margin: 30px;
    width: 80px;
    padding: 5px;
}

section a:hover{
    background-color: rgb(212, 88, 88);
}


footer{
    border-top: 50px coral solid;
    height: 200px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: end;
}


footer p{
    margin-right: 20px;
    font-size: 50px;}